@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    font-family: 'Roboto';
}

li {
    display: inline;
}

.header {
    display: flex;
    justify-content: space-between;

    background-color: #222;
    color: #eee;
    padding: 10px 20px;
}
.header-hero {
    font-size: larger;
    font-weight: bold;
}

a {
    color: #eee;
    font-weight: 500;
    text-decoration: none;
}

.top {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    background-color: #222;
    color: #eee;
}

button {
    background-color: #06c232;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: #eee;
    font-weight: 600;
}

.images {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.images-box {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    flex: none;
}

h2 {
    text-align: center;
}
.image img {
    width: 150px;
}