@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* general */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    font-family: 'JetBrains Mono';
}

img {
    border-radius: 10px;
}

a {
    color: #eee;
    font-weight: 500;
    text-decoration: none;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    
    background-color: #222;
    color: #eee;
    padding: 20px 75px;
}

.header-hero {
    font-size: larger;
    font-weight: bold;
}

li {
    display: inline;
    padding: 10px;
}


/* top section */
.top {
    display: flex;
    padding: 10px 100px;
    gap: 10px;
    justify-content: center;
    background-color: #222;
    color: #eee;
}

.top img {
    width: 500px;
}

.top p {
    width: 500px;
    align-self: center;
}

/* projects section */
.projects {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.projects-box {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 900px;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    text-align: center;
    border: 3px solid #222;
    border-radius: 10px;
    padding: 10px;
    max-width: 250px;
}

h2 {
    text-align: center;
}

.project img {
    width: 250px;
    border-radius: 10px;
    padding: 3px;
}

.project a {
    color: #222;
}

/* socials section */
.socials {
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 10px;
}

.socials a {
    color: #222;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    background-color: #222;
    color: #eee;
    padding: 20px 75px;
    margin-top: auto;
}